@import "tailwindcss";

:root {
    --breakpoint-xs: 350px;
}

@keyframes slide-left-bounce {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }
}

.pink-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.pink-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ec4899;
    border-radius: 10px;
}

.pink-scrollbar::-webkit-scrollbar-track {
    background-color: #fce7f3;
}

input:-webkit-autofill {
    background-color: #fff !important;
    color: #ec4899 !important;
    -webkit-box-shadow: 0 0 0px 1000px #ffd5ea inset !important;
    transition: background-color 5000s ease-in-out 0s;
}